<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/semantic.css' %}" media="screen" title="no title" charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=0swald|Raleway" rel="stylesheet">

    <style type="text/css">
        .ui.segment.container{
            width:700px;
        }
        p {
            font-family:'Raleway', sans-serif;
            font-size:18px;
        }
        body {
            background: url({% static 'images/star_banner.jpg' %});
            background-size:cover;
            background-repeat:no-repeat;
            background-attachment:fixed
        }
    </style>
</head>
<body>
    <div class="ui image">
        <img src="" alt="" />
    </div>
    <div class="ui segment padded container">
        <h1 class="ui header" style="font-family:'Oswald',sans-serif;font-size: 40px">
            {{ article.headline }}
        </h1>
        <p>
            {{ article.content }}
        </p>
    </div>
    <div class="ui segment container" style="width:700px;">
        <h3 class="ui header" style="font-family:'Oswald', sans-serif;">Comments</h3>
        <div class="ui comments">
            {% for comment in comment_list %}
                <div class="comment">
                    <div class="avatar">
                        <img src="http://semantic-ui.com/images/avatar/small/matt.jpg" alt="" />
                    </div>
                    <div class="content">
                        <a href="#" class="author">{{ comment.name }}</a>
                        <div class="metadata">
                            <div class="date">2 days ago</div>
                        </div>
                        <p class="text" style="font-family:'Raleway', sans-serif;">
                            {{ comment.comment }}
                        </p>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="ui divider"></div>
        <form class="ui error tiny form" method="post">
            {% if form.errors %}
                <div class="ui error message">
                    {{ form.errors }}
                </div>
                {% for field in form %}
                    <div class="{{ field.errors|yesno:'error, '}} field"><!--#依次判断表格中的Field是否有error-->
                    {{ field.label }}
                    {{ field }}
                </div>
                {% endfor %}
            {% else %}
                {% for field in form %}
                    <div class="field">
                        {{ field.label }}
                        {{ field }}
                    </div>
                {% endfor %}
            {% endif %}
            {% csrf_token %}<!--CSRF（Cross-site request forgery）跨站请求伪造-->
            <button type="submit" class="ui blue button">Click</button>
        </form>
    </div>
</body>
</html>